In [5]:
import geopandas as gpd
na_gpd = gpd.read_file("naju.geojson")
na_gpd.head()

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,geometry
0,46170101,Togye-dong,토계동,"MULTIPOLYGON (((929419.84775 1670007.32899, 92..."
1,46170102,Songwol-dong,송월동,"MULTIPOLYGON (((928537.09161 1670526.74533, 92..."
2,46170103,Anchang-dong,안창동,"MULTIPOLYGON (((927717.01473 1670073.94114, 92..."
3,46170104,Samyeong-dong,삼영동,"MULTIPOLYGON (((928475.32472 1668339.63117, 92..."
4,46170105,Gyo-dong,교동,"MULTIPOLYGON (((928199.98296 1671393.45232, 92..."